body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my_navbar {
  position: relative;
}

.my_navbar .logo {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #00e0d0;
  /* Old browsers */
  color: -moz-linear-gradient(left, #00e0d0 27%, #008C99 60%);
  /* FF3.6-15 */
  color: -webkit-linear-gradient(left, #00e0d0 27%, #008C99 60%);
  /* Chrome10-25,Safari5.1-6 */
  color: linear-gradient(to right, #00e0d0 27%, #008C99 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0', endColorstr='#008C99',GradientType=1 );
  /* IE6-9 */
}

.my_navbar .logo .logo-img {
  height: 35px;
  margin-right: 10px;
}

.my_navbar .collapse {
  position: absolute;
  right: 0;
}

.my_navbar .collapse li {
  text-transform: uppercase;
  padding-right: 22px;
}

.my_navbar .collapse li a {
  font-family: 'Roboto Black', arial;
  font-size: 13px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.my_navbar .collapse li a:hover {
  color: #00e0d0;
}

.my_navbar .collapse li a:focus {
  color: #00e0d0;
}

@font-face {
  font-family: 'Roboto Black';
  src: url(../fonts/ROBOTOB.ttf);
  font-weight: normal;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
}

.videoWrapper43 {
  padding-top: 38%;
}

.videoWrapper169 {
  padding-top: 56%;
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.videoPoster:after {
  content: '';
  position: absolute;
  top: 49.2%;
  left: 49.8%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 40px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.videoPoster:hover:before, .videoPoster:focus:before {
  border-color: #00e0d0;
}

.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #00e0d0;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

body {
  font-family: avenir, sans-serif;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.my_header {
  height: 655px;
  background-image: url(../img/headerImage.png);
  background-size: cover;
}

.my_header .overlay {
  height: 100%;
  background-image: url(../img/overlay.png);
  margin: 0;
  background-size: 100%;
}

.my_hero_col {
  margin-top: 145px;
  height: 100%;
  padding-top: 8px;
  height: 255px;
  padding-bottom: 7px;
  padding-left: 100px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.my_hero_col button {
  display: inline-block !important;
  width: 120px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.my_hero_col .hero_text {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
}

.my_hero_col .line {
  background: #00e0d0;
  height: 1px;
  width: 70px;
  margin: 20px auto;
}

.my_dots_append {
  height: 70px;
}

.hero_title, .title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: #fff;
  margin-bottom: 0;
}

.my_hero_section {
  height: 87%;
}

.my_hero_section .my_cont {
  width: 80%;
  margin: 0 auto;
}

.my_story_section .container {
  padding-top: 70px;
  padding-bottom: 80px;
}

.my_story_section h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 900;
  color: #2f2c36;
}

.my_story_section p.story_text {
  color: #524949;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
}

.my_story_section .my_story_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.my_story_section .my_story_img-container {
  padding: auto 0;
  width: 300px;
}

.my_story_section .my_story_img-container img {
  width: 270px;
}

.my_story_section button {
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

.my_video_section .my_video_col {
  height: 632px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.my_expert_col {
  text-align: center;
}

.my_expert_col h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #2f2c36;
}

.my_expert_section .container {
  padding-top: 71px;
}

.my_expert_section .container .expert_desc {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.my_expert_section .container .line2 {
  width: 80px;
  height: 1px;
  margin: 0 auto;
  background: rgba(33, 37, 41, 0.4);
  margin-bottom: 15px;
}

.my_expert_section .img_desc {
  font-family: 'Roboto Black', arial;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 34px 0 25px 0;
}

.my_expert_section .my_expert_fill {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 30px;
}

.my_expert_section .my_expert_fill .img_text {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #2f2c36;
}

.my_expert_section .my_row {
  margin-bottom: 70px;
}

.my_team_section {
  color: rgba(255, 255, 255, 0.8);
  background-image: url(../img/teamback.png);
  height: 100%;
  max-height: 782px;
  background-size: cover;
  background-repeat: no-repeat;
}

.my_team_section .container-fluid {
  background-image: url(../img/teamover.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 782px;
  padding-top: 71px;
  padding-bottom: 70px;
}

.my_team_section .container-fluid .title_row {
  height: 100%;
}

.my_team_section .container-fluid .title_row .my_team-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.my_team_section .container-fluid .title_row .my_team-col h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 900;
}

.my_team_section .container-fluid .title_row .my_team-col .team_desc {
  font-family: 'Playfair Display',serif;
  font-weight: 100;
}

.my_team_section .container-fluid .title_row .my_team-col .line2 {
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
}

.my_team_section .container-fluid .team_img-row {
  margin-top: 37px;
  padding: 0 230px;
  margin-bottom: 70px;
}

.my_team_section .container-fluid .team_img-row .img_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  text-align: center;
}

.my_team_section .container-fluid .team_img-row .img_col .img_cont {
  margin-left: 9px;
  margin-right: 9px;
  border: 1px solid;
}

.my_team_section .container-fluid .team_img-row .img_col .names {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 9px;
}

.my_team_section .container-fluid .team_img-row .img_col .my_img {
  margin-bottom: 22px;
  width: 100%;
  margin-right: 5px;
}

.my_team_section .container-fluid .team_img-row .img_col .my_img img {
  width: 100%;
}

.my_team_section .container-fluid .team_img-row .img_col .place {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.my_team_section .button_col {
  text-align: center;
}

.my_works_section .container-fluid .head_section {
  padding: 70px 230px;
}

.my_works_section .container-fluid .head_section .col-md-9 h2.block_title {
  color: rgba(0, 0, 0, 0.85);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
}

.my_works_section .container-fluid .head_section .link_col {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.my_works_section .container-fluid .head_section .link_col .arrow {
  background: #000000;
  height: 20px;
  width: 15px;
  position: relative;
  left: 160px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 42% 100%, 92% 50%, 42% 0%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 42% 100%, 92% 50%, 42% 0%);
}

.my_works_section .container-fluid .head_section .link_col .block_link {
  float: left;
  color: #000000;
  padding: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.my_works_section .container-fluid .head_section .link_col .block_link:hover {
  padding: 0 5px;
}

.my_works_section .container-fluid .my_photo_links .my_works_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.my_works_section .container-fluid .my_photo_links .my_works_button button {
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
}

.my_works_section .container-fluid .my_photo_links .photo_link_item {
  padding: 0;
  margin: 0;
  height: 200px;
}

.my_works_section .container-fluid .my_photo_links .photo_link_item .link {
  height: 100%;
  width: 100%;
  display: block;
}

.my_works_section .container-fluid .my_photo_links .photo_link_item .link .img-fluid {
  height: 100%;
  width: 100%;
}

.my_testimonials_section {
  padding-top: 0px;
  background: url(../img/testiback.jpg);
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 52px;
  height: 100%;
}

.my_testimonials_section .head {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 100px;
  color: #ebeaef;
  line-height: 100%;
}

.my_testimonials_section .testi_slick_container .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 204px;
}

.my_testimonials_section .testi_slick_container .container-fluid .row .my_testi_col {
  text-align: center;
}

.my_testimonials_section .testi_slick_container .container-fluid .row .my_testi_col p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e1dfe6;
}

.my_testimonials_section .testi_slick_container .container-fluid .row .my_testi_col .testi_name_title {
  color: #ebeaef;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14px;
  margin: 0;
  line-height: 22px;
  letter-spacing: 2px;
}

.my_testimonials_section .testi_slick_container .container-fluid .row .my_testi_col span {
  color: #bebbc8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.my_testimonials_section .my_img_dots_container .row {
  margin-top: 45px;
  height: 70px;
}

.my_testimonials_section .my_img_dots_container .row .col-md-4 {
  height: 100%;
}

.my_testimonials_section .my_img_dots_container .row .col-md-4 .dots_slick_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.my_testimonials_section .my_img_dots_container .row .col-md-4 .dots_slick_container .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 70px;
}

.my_testimonials_section .my_img_dots_container .row .col-md-4 .dots_slick_container .imgContainer img {
  padding: 0 10px;
  height: 45px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition: .3s;
  transition: .3s;
}

.my_testimonials_section .my_img_dots_container .row .col-md-4 .dots_slick_container .imgContainer img:hover {
  height: 49px;
  width: 70px;
}

.my_testimonials_section .my_img_dots_container .my_arrow {
  background: transparent;
  height: 30px;
  width: 35px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.my_testimonials_section .my_img_dots_container .my_next_arrow .arrow_picture {
  height: 30px;
  width: 30px;
  background: rgba(235, 234, 239, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 42% 100%, 92% 50%, 42% 0%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 42% 100%, 92% 50%, 42% 0%);
}

.my_testimonials_section .my_img_dots_container .my_prev_arrow .arrow_picture {
  height: 30px;
  width: 30px;
  background: rgba(235, 234, 239, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
  -webkit-clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 58% 100%, 8% 50%, 58% 0%);
          clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 58% 100%, 8% 50%, 58% 0%);
}

.slick-current img {
  height: 68px !important;
  width: 70px !important;
  padding: 0 !important;
}

.slick-disabled {
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -999;
}

.my_clien_section .main_container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.my_clien_section .main_container .main_row .main_col1 {
  padding-right: 50px;
}

.my_clien_section .main_container .main_row .main_col1 .main_title {
  color: #413d4b;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 5px;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form #massage {
  height: 200px;
  padding-top: 18px;
  padding-left: 19px;
  line-height: 15px;
  margin-top: 20px;
  border: 1px solid #e5e5e5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form #massage::-webkit-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form #massage:-ms-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form #massage::-ms-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form #massage::placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form input {
  margin-top: 20px;
  height: 44px;
  padding-left: 19px;
  border: 1px solid #e5e5e5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form input::-webkit-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form input:-ms-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form input::-ms-input-placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form input::placeholder {
  color: #a09ea5;
}

.my_clien_section .main_container .main_row .main_col1 .inputs_block form button {
  margin-top: 20px;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px 31px;
}

.my_clien_section .main_container .main_row .main_col2 {
  padding-left: 80px;
}

.my_clien_section .main_container .main_row .main_col2 .main_title {
  color: #413d4b;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 22px;
}

.my_clien_section .main_container .main_row .main_col2 .sub_container .row .col2 {
  margin-left: 20px;
}

.my_clien_section .main_container .main_row .main_col2 .sub_container .row .col-md-5 {
  padding-left: 0;
}

.my_clien_section .main_container .main_row .main_col2 .sub_container .row .col-md-5 .img_container {
  margin-top: 20px;
  width: 142px;
  padding: 8px 0;
}

.my_clien_section .main_container .main_row .main_col2 .sub_container .row .col-md-5 .img_container img {
  width: 100%;
}

.my_footer {
  background: url(../img/footerback.jpg);
  background-size: cover;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.my_footer .footer_container {
  padding-top: 70px;
  padding-bottom: 72px;
}

.my_footer .footer_container .footer_row .col1 .title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my_footer .footer_container .footer_row .col1 .title_container .img_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #00e0d0;
  color: -moz-linear-gradient(left, #00e0d0 27%, #008C99 60%);
  color: -webkit-linear-gradient(left, #00e0d0 27%, #008C99 60%);
  color: linear-gradient(to right, #00e0d0 27%, #008C99 60%);
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.my_footer .footer_container .footer_row .col1 .img_p_text {
  margin-top: 25px;
}

.my_footer .footer_container .footer_row .col2 {
  padding-top: 20px;
}

.my_footer .footer_container .footer_row .col2 .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.my_footer .footer_container .footer_row .col2 .title_icon {
  height: 19px;
  width: 14px;
  float: left;
  margin-top: 37px;
}

.my_footer .footer_container .footer_row .col2 .title_icon2 {
  height: 17px;
  width: 17px;
  float: left;
}

.my_footer .footer_container .footer_row .col2 .subtitle_text {
  margin-top: 37px;
  margin-left: 30px;
}

.my_footer .footer_container .footer_row .col2 .subtitle_tel {
  margin-left: 30px;
}

.my_footer .footer_container .footer_row .col3 {
  padding-top: 20px;
}

.my_footer .footer_container .footer_row .col3 .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.my_footer .footer_container .footer_row .col3 .footer_form {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my_footer .footer_container .footer_row .col3 .footer_form input {
  background: transparent;
  border: 1px solid #bbb6c8;
  height: 45px;
  width: 210px;
  margin-right: 10px;
  padding-left: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.9px;
}

.my_footer .footer_container .footer_row .col3 .footer_form input::-webkit-input-placeholder {
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.9px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.my_footer .footer_container .footer_row .col3 .footer_form input:-ms-input-placeholder {
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.9px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.my_footer .footer_container .footer_row .col3 .footer_form input::-ms-input-placeholder {
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.9px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.my_footer .footer_container .footer_row .col3 .footer_form input::placeholder {
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.9px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.my_footer .footer_container .footer_row .col3 .footer_form button {
  height: 45px;
  width: 70px;
  border-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
  background: url(../img/buttonback.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #a099b3;
}

.my_footer .footer_container .footer_row .col3 .footer_form button:hover {
  background: url(../img/buttonback.png);
  background-repeat: no-repeat;
  background-position: 70% 30%;
  background-color: #a099b3;
}

.my_footer .footer_container .footer_row .col3 .icons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
}

.my_footer .footer_container .footer_row .col3 .icons_container .my_icon {
  height: 35px;
  width: 35px;
  margin-right: 9px;
}

.my_footer .footer_container .footer_row .col3 .icons_container .my_icon .img-fluid {
  width: 100%;
  height: auto;
}

.my_footer .footer_container .extrafooter {
  margin-top: 44px;
}

.my_footer .footer_container .extrafooter a {
  color: inherit;
  text-decoration: none;
}

.my_footer .footer_container .extrafooter .col {
  text-align: right;
  margin-right: 60px;
  font-size: 14px;
}

.my_footer .footer_container .extrafooter .left_col {
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .my_hero_section .my_cont {
    width: 80%;
    margin: 0 auto;
    height: 500px;
  }
  .my_hero_section .slick-container {
    margin-bottom: 0  !important;
  }
  .my_hero_section .slick-container .container-fluid .row .my_hero_col {
    height: 500px;
    margin-top: 0;
  }
  .my_header {
    height: 700px;
  }
  .my_video_section .my_video_col {
    height: 132px;
  }
  .my_hero_col {
    padding-left: 0;
    padding-right: 0;
  }
  .my_story_section .my_story_img-container {
    margin-bottom: 20px;
  }
  .my_story_section .my_story_img-container img {
    width: 170px;
    display: block;
    margin: 0 auto;
  }
  .my_story_section .container .row .text_col {
    text-align: center;
  }
  .my_team_section {
    max-height: 1200px;
  }
  .my_team_section .container-fluid {
    max-height: 1200px;
  }
  .my_team_section .container-fluid .team_img-row {
    padding: 0 20px;
  }
  .my_team_section .container-fluid .team_img-row .img_col {
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my_works_section .container-fluid .head_section {
    padding: 70px 0;
  }
  .my_testimonials_section {
    height: 750px;
  }
  .my_testimonials_section .testi_slick_container .container-fluid .row {
    margin: 0px 10px !important;
  }
  .my_testimonials_section .testi_slick_container .container-fluid .row .imgContainer img {
    height: auto !important;
  }
  .my_prev_arrow {
    margin-bottom: 30px;
  }
  .my_footer .footer_container .extrafooter {
    text-align: center;
  }
  .my_footer .footer_container .extrafooter .col {
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }
  .my_clien_section .main_container .main_row .main_col2 {
    padding-left: 0;
  }
  .my_clien_section .main_container .main_row .main_col2 .main_title {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .my_clien_section .main_container .main_row .main_col2 .sub_container {
    padding-left: 20px;
  }
  .my_clien_section .main_container .main_row .main_col2 .sub_container .row {
    margin-left: 10px;
  }
  .my_works_section .container-fluid .head_section .link_col {
    padding-right: 0;
  }
  .my_works_section .container-fluid .head_section .link_col .arrow {
    left: 145px;
  }
}

@media (min-width: 1700.98px) {
  .my_expert_section {
    margin-top: 50px;
  }
  .my_team_section {
    max-height: 812px;
  }
  .my_team_section .container-fluid {
    max-height: 812px;
  }
}
/*# sourceMappingURL=style.css.map */