.my_navbar
  position: relative
  .logo
    color: #000000
    font-family: 'Roboto', sans-serif;
    font-weight: 100
    font-size: 30px
    color: #00e0d0; /* Old browsers */
    color: -moz-linear-gradient(left, #00e0d0 27%, #008C99 60%); /* FF3.6-15 */
    color: -webkit-linear-gradient(left, #00e0d0 27%,#008C99 60%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(to right, #00e0d0 27%,#008C99 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0', endColorstr='#008C99',GradientType=1 ); /* IE6-9 */
    .logo-img
      height: 35px
      margin-right: 10px
  .collapse
    position: absolute
    right: 0
    
    li
      text-transform: uppercase
      padding-right: 22px
      a
        font-family: 'Roboto Black', arial;
        font-size: 13px
        color: #fff
        transition: .3s
        &:hover
          color: #00e0d0
        &:focus
          color: #00e0d0

